[submodule "themes/anubis"]
	path = themes/anubis
	url = https://github.com/Mitrichius/hugo-theme-anubis
[submodule "themes/anubis"]
	path = themes/anubis
	url = https://github.com/zerostaticthemes/hugo-hero-theme
